<mat-card>
    <mat-card-header>Weather Report</mat-card-header>
    <br>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    London
                </mat-panel-title>
                <mat-panel-description>
                    Current Weather: {{London?.weather}} Temperature: {{London?.temperature}}° C Wind: {{London?.wind}} m/s
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Cardiff
                </mat-panel-title>
                <mat-panel-description>
                    Current Weather: {{Cardiff?.weather}} Temperature: {{Cardiff?.temperature}}° C Wind: {{Cardiff?.wind}} m/s
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Rome
                </mat-panel-title>
                <mat-panel-description>
                    Current Weather: {{Rome?.weather}} Temperature: {{Rome?.temperature}}° C Wind: {{Rome?.wind}} m/s
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Amsterdam
                </mat-panel-title>
                <mat-panel-description>
                    Current Weather: {{Amsterdam?.weather}} Temperature: {{Amsterdam?.temperature}}° C Wind: {{Amsterdam?.wind}} m/s
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Florence
                </mat-panel-title>
                <mat-panel-description>
                    Current Weather: {{Florence?.weather}} Temperature: {{Florence?.temperature}}° C Wind: {{Florence?.wind}} m/s
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>

</mat-card>
